<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>256534290970-unkjpb7u951v9rh4aa9cqskdcfoghfsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256534290970-unkjpb7u951v9rh4aa9cqskdcfoghfsd</string>
	<key>API_KEY</key>
	<string>AIzaSyAq0CDDkBD2RTVw1aGHCJkJOQoj9WES91k</string>
	<key>GCM_SENDER_ID</key>
	<string>256534290970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>orange.ARpainting</string>
	<key>PROJECT_ID</key>
	<string>arpainting-af9ff</string>
	<key>STORAGE_BUCKET</key>
	<string>arpainting-af9ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256534290970:ios:2d17eefc6f3f5e8b</string>
	<key>DATABASE_URL</key>
	<string>https://arpainting-af9ff.firebaseio.com</string>
</dict>
</plist>